# Loading the required libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

# Loading the required datasets

In [2]:
salary_train = pd.read_csv(r"C:\Users\Binita Mandal\Desktop\finity\Naive Bayes\SalaryData_Train.csv")
salary_test = pd.read_csv(r"C:\Users\Binita Mandal\Desktop\finity\Naive Bayes\SalaryData_Test.csv")
string_columns=["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [3]:
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
salary_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [5]:
salary_train.tail()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
salary_test.tail()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [7]:
salary_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [8]:
salary_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [9]:
salary_test.describe

<bound method NDFrame.describe of        age      workclass      education  educationno        maritalstatus  \
0       25        Private           11th            7        Never-married
1       38        Private        HS-grad            9   Married-civ-spouse
2       28      Local-gov     Assoc-acdm           12   Married-civ-spouse
3       44        Private   Some-college           10   Married-civ-spouse
4       34        Private           10th            6        Never-married
...    ...            ...            ...          ...                  ...
15055   33        Private      Bachelors           13        Never-married
15056   39        Private      Bachelors           13             Divorced
15057   38        Private      Bachelors           13   Married-civ-spouse
15058   44        Private      Bachelors           13             Divorced
15059   35   Self-emp-inc      Bachelors           13   Married-civ-spouse

               occupation    relationship                 race      sex  \
0       Machine-op-inspct       Own-child                Black     Male
1         Farming-fishing         Husband                White     Male
2         Protective-serv         Husband                White     Male
3       Machine-op-inspct         Husband                Black     Male
4           Other-service   Not-in-family                White     Male
...                   ...             ...                  ...      ...
15055      Prof-specialty       Own-child                White     Male
15056      Prof-specialty   Not-in-family                White   Female
15057      Prof-specialty         Husband                White     Male
15058        Adm-clerical       Own-child   Asian-Pac-Islander     Male
15059     Exec-managerial         Husband                White     Male

       capitalgain  capitalloss  hoursperweek          native  Salary
0                0            0            40   United-States   <=50K
1                0            0            50   United-States   <=50K
2                0            0            40   United-States    >50K
3             7688            0            40   United-States    >50K
4                0            0            30   United-States   <=50K
...            ...          ...           ...             ...     ...
15055            0            0            40   United-States   <=50K
15056            0            0            36   United-States   <=50K
15057            0            0            50   United-States   <=50K
15058         5455            0            40   United-States   <=50K
15059            0            0            60   United-States    >50K

[15060 rows x 14 columns]>

In [10]:
salary_train.describe

<bound method NDFrame.describe of        age          workclass    education  educationno        maritalstatus  \
0       39          State-gov    Bachelors           13        Never-married
1       50   Self-emp-not-inc    Bachelors           13   Married-civ-spouse
2       38            Private      HS-grad            9             Divorced
3       53            Private         11th            7   Married-civ-spouse
4       28            Private    Bachelors           13   Married-civ-spouse
...    ...                ...          ...          ...                  ...
30156   27            Private   Assoc-acdm           12   Married-civ-spouse
30157   40            Private      HS-grad            9   Married-civ-spouse
30158   58            Private      HS-grad            9              Widowed
30159   22            Private      HS-grad            9        Never-married
30160   52       Self-emp-inc      HS-grad            9   Married-civ-spouse

               occupation    relationship    race      sex  capitalgain  \
0            Adm-clerical   Not-in-family   White     Male         2174
1         Exec-managerial         Husband   White     Male            0
2       Handlers-cleaners   Not-in-family   White     Male            0
3       Handlers-cleaners         Husband   Black     Male            0
4          Prof-specialty            Wife   Black   Female            0
...                   ...             ...     ...      ...          ...
30156        Tech-support            Wife   White   Female            0
30157   Machine-op-inspct         Husband   White     Male            0
30158        Adm-clerical       Unmarried   White   Female            0
30159        Adm-clerical       Own-child   White     Male            0
30160     Exec-managerial            Wife   White   Female        15024

       capitalloss  hoursperweek          native  Salary
0                0            40   United-States   <=50K
1                0            13   United-States   <=50K
2                0            40   United-States   <=50K
3                0            40   United-States   <=50K
4                0            40            Cuba   <=50K
...            ...           ...             ...     ...
30156            0            38   United-States   <=50K
30157            0            40   United-States    >50K
30158            0            40   United-States   <=50K
30159            0            20   United-States   <=50K
30160            0            40   United-States    >50K

[30161 rows x 14 columns]>

In [11]:
salary_test.shape

(15060, 14)

In [12]:
salary_train.shape

(30161, 14)

# Explore categorical variables

In [13]:
# find categorical variables

categorical = [var for var in salary_test.columns if salary_test[var].dtype=='O']
print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are :\n\n', categorical)

There are 9 categorical variables

The categorical variables are :

 ['workclass', 'education', 'maritalstatus', 'occupation', 'relationship', 'race', 'sex', 'native', 'Salary']

In [14]:
categorical = [var for var in salary_train.columns if salary_train[var].dtype=='O']
print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are :\n\n', categorical)

There are 9 categorical variables

The categorical variables are :

 ['workclass', 'education', 'maritalstatus', 'occupation', 'relationship', 'race', 'sex', 'native', 'Salary']

In [15]:
salary_test[categorical].head()

,workclass,education,maritalstatus,occupation,relationship,race,sex,native,Salary
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
4,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K

In [16]:
salary_train[categorical].head()

,workclass,education,maritalstatus,occupation,relationship,race,sex,native,Salary
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

In [17]:
# check missing values in categorical variables

salary_train[categorical].isnull().sum()

workclass        0
education        0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
native           0
Salary           0
dtype: int64

In [18]:
salary_test[categorical].isnull().sum()

workclass        0
education        0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
native           0
Salary           0
dtype: int64

In [19]:
# view frequency counts of values in categorical variables

for var in categorical: 
    print(salary_test[var].value_counts())

 Private             11021
 Self-emp-not-inc     1297
 Local-gov            1033
 State-gov             667
 Self-emp-inc          572
 Federal-gov           463
 Without-pay             7
Name: workclass, dtype: int64
 HS-grad         4943
 Some-college    3221
 Bachelors       2526
 Masters          887
 Assoc-voc        652
 11th             571
 Assoc-acdm       499
 10th             403
 7th-8th          266
 Prof-school      243
 9th              221
 12th             200
 Doctorate        169
 5th-6th          161
 1st-4th           71
 Preschool         27
Name: education, dtype: int64
 Married-civ-spouse       6990
 Never-married            4872
 Divorced                 2083
 Separated                 472
 Widowed                   450
 Married-spouse-absent     182
 Married-AF-spouse          11
Name: maritalstatus, dtype: int64
 Exec-managerial      1992
 Craft-repair         1990
 Prof-specialty       1970
 Sales                1824
 Adm-clerical         1819
 Other-service        1596
 Machine-op-inspct    1004
 Transport-moving      744
 Handlers-cleaners     696
 Tech-support          508
 Farming-fishing       491
 Protective-serv       332
 Priv-house-serv        89
 Armed-Forces            5
Name: occupation, dtype: int64
 Husband           6203
 Not-in-family     3976
 Own-child         2160
 Unmarried         1576
 Wife               685
 Other-relative     460
Name: relationship, dtype: int64
 White                 12970
 Black                  1411
 Asian-Pac-Islander      408
 Amer-Indian-Eskimo      149
 Other                   122
Name: race, dtype: int64
 Male      10147
 Female     4913
Name: sex, dtype: int64
 United-States                 13788
 Mexico                          293
 Philippines                      95
 Puerto-Rico                      66
 Germany                          65
 Canada                           56
 India                            47
 El-Salvador                      47
 China                            45
 Cuba                             41
 England                          33
 Italy                            32
 Dominican-Republic               30
 Japan                            30
 South                            30
 Portugal                         28
 Haiti                            27
 Columbia                         26
 Poland                           25
 Jamaica                          23
 Guatemala                        23
 Greece                           20
 Vietnam                          19
 Ecuador                          16
 Peru                             15
 Nicaragua                        15
 Iran                             14
 Taiwan                           13
 Ireland                          12
 Thailand                         12
 France                            9
 Hong                              9
 Scotland                          9
 Outlying-US(Guam-USVI-etc)        8
 Trinadad&Tobago                   8
 Cambodia                          8
 Honduras                          7
 Yugoslavia                        7
 Hungary                           5
 Laos                              4
Name: native, dtype: int64
 <=50K    11360
 >50K      3700
Name: Salary, dtype: int64

In [20]:
for var in categorical: 
    print(salary_train[var].value_counts())

 Private             22285
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: workclass, dtype: int64
 HS-grad         9840
 Some-college    6677
 Bachelors       5044
 Masters         1627
 Assoc-voc       1307
 11th            1048
 Assoc-acdm      1008
 10th             820
 7th-8th          557
 Prof-school      542
 9th              455
 12th             377
 Doctorate        375
 5th-6th          288
 1st-4th          151
 Preschool         45
Name: education, dtype: int64
 Married-civ-spouse       14065
 Never-married             9725
 Divorced                  4214
 Separated                  939
 Widowed                    827
 Married-spouse-absent      370
 Married-AF-spouse           21
Name: maritalstatus, dtype: int64
 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1965
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: occupation, dtype: int64
 Husband           12463
 Not-in-family      7726
 Own-child          4466
 Unmarried          3212
 Wife               1406
 Other-relative      888
Name: relationship, dtype: int64
 White                 25932
 Black                  2817
 Asian-Pac-Islander      895
 Amer-Indian-Eskimo      286
 Other                   231
Name: race, dtype: int64
 Male      20380
 Female     9781
Name: sex, dtype: int64
 United-States                 27504
 Mexico                          610
 Philippines                     188
 Germany                         128
 Puerto-Rico                     109
 Canada                          107
 India                           100
 El-Salvador                     100
 Cuba                             92
 England                          86
 Jamaica                          80
 South                            71
 Italy                            68
 China                            68
 Dominican-Republic               67
 Vietnam                          64
 Guatemala                        63
 Japan                            59
 Columbia                         56
 Poland                           56
 Taiwan                           42
 Iran                             42
 Haiti                            42
 Portugal                         34
 Nicaragua                        33
 Peru                             30
 Greece                           29
 Ecuador                          27
 France                           27
 Ireland                          24
 Hong                             19
 Cambodia                         18
 Trinadad&Tobago                  18
 Thailand                         17
 Laos                             17
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         12
 Scotland                         11
Name: native, dtype: int64
 <=50K    22653
 >50K      7508
Name: Salary, dtype: int64

In [21]:
# view frequency distribution of categorical variables

for var in categorical: 
    print(salary_test[var].value_counts()/np.float(len(salary_test)))

 Private             0.731806
 Self-emp-not-inc    0.086122
 Local-gov           0.068592
 State-gov           0.044290
 Self-emp-inc        0.037981
 Federal-gov         0.030744
 Without-pay         0.000465
Name: workclass, dtype: float64
 HS-grad         0.328220
 Some-college    0.213878
 Bachelors       0.167729
 Masters         0.058898
 Assoc-voc       0.043293
 11th            0.037915
 Assoc-acdm      0.033134
 10th            0.026760
 7th-8th         0.017663
 Prof-school     0.016135
 9th             0.014675
 12th            0.013280
 Doctorate       0.011222
 5th-6th         0.010691
 1st-4th         0.004714
 Preschool       0.001793
Name: education, dtype: float64
 Married-civ-spouse       0.464143
 Never-married            0.323506
 Divorced                 0.138313
 Separated                0.031341
 Widowed                  0.029880
 Married-spouse-absent    0.012085
 Married-AF-spouse        0.000730
Name: maritalstatus, dtype: float64
 Exec-managerial      0.132271
 Craft-repair         0.132138
 Prof-specialty       0.130810
 Sales                0.121116
 Adm-clerical         0.120784
 Other-service        0.105976
 Machine-op-inspct    0.066667
 Transport-moving     0.049402
 Handlers-cleaners    0.046215
 Tech-support         0.033732
 Farming-fishing      0.032603
 Protective-serv      0.022045
 Priv-house-serv      0.005910
 Armed-Forces         0.000332
Name: occupation, dtype: float64
 Husband           0.411886
 Not-in-family     0.264011
 Own-child         0.143426
 Unmarried         0.104648
 Wife              0.045485
 Other-relative    0.030544
Name: relationship, dtype: float64
 White                 0.861222
 Black                 0.093692
 Asian-Pac-Islander    0.027092
 Amer-Indian-Eskimo    0.009894
 Other                 0.008101
Name: race, dtype: float64
 Male      0.673772
 Female    0.326228
Name: sex, dtype: float64
 United-States                 0.915538
 Mexico                        0.019456
 Philippines                   0.006308
 Puerto-Rico                   0.004382
 Germany                       0.004316
 Canada                        0.003718
 India                         0.003121
 El-Salvador                   0.003121
 China                         0.002988
 Cuba                          0.002722
 England                       0.002191
 Italy                         0.002125
 Dominican-Republic            0.001992
 Japan                         0.001992
 South                         0.001992
 Portugal                      0.001859
 Haiti                         0.001793
 Columbia                      0.001726
 Poland                        0.001660
 Jamaica                       0.001527
 Guatemala                     0.001527
 Greece                        0.001328
 Vietnam                       0.001262
 Ecuador                       0.001062
 Peru                          0.000996
 Nicaragua                     0.000996
 Iran                          0.000930
 Taiwan                        0.000863
 Ireland                       0.000797
 Thailand                      0.000797
 France                        0.000598
 Hong                          0.000598
 Scotland                      0.000598
 Outlying-US(Guam-USVI-etc)    0.000531
 Trinadad&Tobago               0.000531
 Cambodia                      0.000531
 Honduras                      0.000465
 Yugoslavia                    0.000465
 Hungary                       0.000332
 Laos                          0.000266
Name: native, dtype: float64
 <=50K    0.754316
 >50K     0.245684
Name: Salary, dtype: float64

In [22]:
for var in categorical: 
    print(salary_train[var].value_counts()/np.float(len(salary_train)))

 Private             0.738868
 Self-emp-not-inc    0.082855
 Local-gov           0.068532
 State-gov           0.042406
 Self-emp-inc        0.035609
 Federal-gov         0.031266
 Without-pay         0.000464
Name: workclass, dtype: float64
 HS-grad         0.326249
 Some-college    0.221379
 Bachelors       0.167236
 Masters         0.053944
 Assoc-voc       0.043334
 11th            0.034747
 Assoc-acdm      0.033421
 10th            0.027187
 7th-8th         0.018468
 Prof-school     0.017970
 9th             0.015086
 12th            0.012500
 Doctorate       0.012433
 5th-6th         0.009549
 1st-4th         0.005006
 Preschool       0.001492
Name: education, dtype: float64
 Married-civ-spouse       0.466331
 Never-married            0.322436
 Divorced                 0.139717
 Separated                0.031133
 Widowed                  0.027420
 Married-spouse-absent    0.012267
 Married-AF-spouse        0.000696
Name: maritalstatus, dtype: float64
 Prof-specialty       0.133882
 Craft-repair         0.133616
 Exec-managerial      0.132356
 Adm-clerical         0.123371
 Sales                0.118829
 Other-service        0.106495
 Machine-op-inspct    0.065150
 Transport-moving     0.052120
 Handlers-cleaners    0.044760
 Farming-fishing      0.032791
 Tech-support         0.030238
 Protective-serv      0.021352
 Priv-house-serv      0.004741
 Armed-Forces         0.000298
Name: occupation, dtype: float64
 Husband           0.413216
 Not-in-family     0.256159
 Own-child         0.148072
 Unmarried         0.106495
 Wife              0.046616
 Other-relative    0.029442
Name: relationship, dtype: float64
 White                 0.859786
 Black                 0.093399
 Asian-Pac-Islander    0.029674
 Amer-Indian-Eskimo    0.009482
 Other                 0.007659
Name: race, dtype: float64
 Male      0.675707
 Female    0.324293
Name: sex, dtype: float64
 United-States                 0.911906
 Mexico                        0.020225
 Philippines                   0.006233
 Germany                       0.004244
 Puerto-Rico                   0.003614
 Canada                        0.003548
 India                         0.003316
 El-Salvador                   0.003316
 Cuba                          0.003050
 England                       0.002851
 Jamaica                       0.002652
 South                         0.002354
 Italy                         0.002255
 China                         0.002255
 Dominican-Republic            0.002221
 Vietnam                       0.002122
 Guatemala                     0.002089
 Japan                         0.001956
 Columbia                      0.001857
 Poland                        0.001857
 Taiwan                        0.001393
 Iran                          0.001393
 Haiti                         0.001393
 Portugal                      0.001127
 Nicaragua                     0.001094
 Peru                          0.000995
 Greece                        0.000962
 Ecuador                       0.000895
 France                        0.000895
 Ireland                       0.000796
 Hong                          0.000630
 Cambodia                      0.000597
 Trinadad&Tobago               0.000597
 Thailand                      0.000564
 Laos                          0.000564
 Yugoslavia                    0.000530
 Outlying-US(Guam-USVI-etc)    0.000464
 Hungary                       0.000431
 Honduras                      0.000398
 Scotland                      0.000365
Name: native, dtype: float64
 <=50K    0.751069
 >50K     0.248931
Name: Salary, dtype: float64

In [23]:
salary_test.workclass.unique()

array([' Private', ' Local-gov', ' Self-emp-not-inc', ' Federal-gov',
       ' State-gov', ' Self-emp-inc', ' Without-pay'], dtype=object)

In [24]:
salary_train.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay'], dtype=object)

In [25]:
salary_test.workclass.value_counts()

 Private             11021
 Self-emp-not-inc     1297
 Local-gov            1033
 State-gov             667
 Self-emp-inc          572
 Federal-gov           463
 Without-pay             7
Name: workclass, dtype: int64

In [26]:
salary_train.workclass.value_counts()

 Private             22285
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: workclass, dtype: int64

In [27]:
# Explore occupation variable
salary_test.occupation.unique()
salary_train.occupation.unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Transport-moving',
       ' Farming-fishing', ' Machine-op-inspct', ' Tech-support',
       ' Craft-repair', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [28]:
# check frequency distribution of values in occupation variable

salary_test.occupation.value_counts()
salary_train.occupation.value_counts()

 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1965
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: occupation, dtype: int64

In [29]:
# check labels in native_country variable

salary_test.native.unique()
salary_train.native.unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
       ' Puerto-Rico', ' Honduras', ' England', ' Canada', ' Germany',
       ' Iran', ' Philippines', ' Poland', ' Columbia', ' Cambodia',
       ' Thailand', ' Ecuador', ' Laos', ' Taiwan', ' Haiti', ' Portugal',
       ' Dominican-Republic', ' El-Salvador', ' France', ' Guatemala',
       ' Italy', ' China', ' South', ' Japan', ' Yugoslavia', ' Peru',
       ' Outlying-US(Guam-USVI-etc)', ' Scotland', ' Trinadad&Tobago',
       ' Greece', ' Nicaragua', ' Vietnam', ' Hong', ' Ireland',
       ' Hungary'], dtype=object)

In [30]:
# check frequency distribution of values in native_country variable

salary_test.native.value_counts()
salary_train.native.value_counts()

 United-States                 27504
 Mexico                          610
 Philippines                     188
 Germany                         128
 Puerto-Rico                     109
 Canada                          107
 India                           100
 El-Salvador                     100
 Cuba                             92
 England                          86
 Jamaica                          80
 South                            71
 Italy                            68
 China                            68
 Dominican-Republic               67
 Vietnam                          64
 Guatemala                        63
 Japan                            59
 Columbia                         56
 Poland                           56
 Taiwan                           42
 Iran                             42
 Haiti                            42
 Portugal                         34
 Nicaragua                        33
 Peru                             30
 Greece                           29
 Ecuador                          27
 France                           27
 Ireland                          24
 Hong                             19
 Cambodia                         18
 Trinadad&Tobago                  18
 Thailand                         17
 Laos                             17
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         12
 Scotland                         11
Name: native, dtype: int64

In [31]:
# Check missing values in categorical variables again
salary_test[categorical].isnull().sum()
salary_train[categorical].isnull().sum()

workclass        0
education        0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
native           0
Salary           0
dtype: int64

In [32]:
# check for cardinality in categorical variables

for var in categorical:
    
    print(var, ' contains ', len(salary_train[var].unique()), ' labels')

workclass  contains  7  labels
education  contains  16  labels
maritalstatus  contains  7  labels
occupation  contains  14  labels
relationship  contains  6  labels
race  contains  5  labels
sex  contains  2  labels
native  contains  40  labels
Salary  contains  2  labels

In [33]:
for var in categorical:
    
    print(var, ' contains ', len(salary_test[var].unique()), ' labels')

workclass  contains  7  labels
education  contains  16  labels
maritalstatus  contains  7  labels
occupation  contains  14  labels
relationship  contains  6  labels
race  contains  5  labels
sex  contains  2  labels
native  contains  40  labels
Salary  contains  2  labels

In [34]:
# find numerical variables

numerical = [var for var in salary_test.columns if salary_test[var].dtype!='O']
print('There are {} numerical variables\n'.format(len(numerical)))
print('The numerical variables are :', numerical)

There are 5 numerical variables

The numerical variables are : ['age', 'educationno', 'capitalgain', 'capitalloss', 'hoursperweek']

In [35]:
numerical = [var for var in salary_train.columns if salary_train[var].dtype!='O']
print('There are {} numerical variables\n'.format(len(numerical)))
print('The numerical variables are :', numerical)

There are 5 numerical variables

The numerical variables are : ['age', 'educationno', 'capitalgain', 'capitalloss', 'hoursperweek']

In [36]:
salary_test[numerical].head()
salary_train[numerical].head()

   age  educationno  capitalgain  capitalloss  hoursperweek
0   39           13         2174            0            40
1   50           13            0            0            13
2   38            9            0            0            40
3   53            7            0            0            40
4   28           13            0            0            40

In [37]:
from sklearn import preprocessing
number = preprocessing.LabelEncoder()
for i in string_columns:
    salary_train[i] = number.fit_transform(salary_train[i])
    salary_test[i] = number.fit_transform(salary_test[i])

In [38]:
colnames = salary_train.columns
len(colnames[0:13])

13

In [39]:
trainX = salary_train[colnames[0:13]]

In [40]:
trainY = salary_train[colnames[13]]

In [41]:
testX  = salary_test[colnames[0:13]]
testY  = salary_test[colnames[13]]

In [42]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

trainX_train, testX_test, trainY_train, testY_test = train_test_split(trainX, trainY, test_size = 0.3, random_state = 0)

In [43]:
trainX.dtypes

age              int64
workclass        int32
education        int32
educationno      int64
maritalstatus    int32
occupation       int32
relationship     int32
race             int32
sex              int32
capitalgain      int64
capitalloss      int64
hoursperweek     int64
native           int32
dtype: object

In [44]:
testY.dtypes

dtype('O')

In [45]:
# display categorical variables

categorical = [col for col in trainX.columns if trainX[col].dtypes == 'O']

categorical

[]

# Model training

In [46]:
sgnb = GaussianNB()
smnb = MultinomialNB()
spred_gnb = sgnb.fit(trainX,trainY).predict(testX)
confusion_matrix(testY,spred_gnb)
print ("Accuracy",(10759+1209)/(10759+601+2491+1209))

Accuracy 0.7946879150066402

In [47]:
spred_mnb = smnb.fit(trainX,trainY).predict(testX)
confusion_matrix(testY,spred_mnb)
print("Accuracy",(10891+780)/(10891+780+2920+780))

Accuracy 0.7592869689675362